#signup-page {
    min-height: 80vh;
    max-height: 80vh;
    padding-top: 20vh;
}
@media only screen  and (max-device-width: 600px)
 {
    #signup-page {
        background-image: url("../images/phone.jpg");
    }
    #form-container {
        background-color: rgba(255, 252, 252, 0.19);
    }
 }
@media only screen  and (min-device-width: 600px)
 {   #signup-page{
    background-image: url("../images/background.jpg");
    }
    #form-container{
        background-color: rgba(162, 158, 158, 0.09);
    }


}
.ant-form-item {
    margin-bottom: 29px;
}
#form-container{
    width: 85%;
    max-width: 375px;
}
.register-btn{
    width: 100%;
}
